*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color:white;
    position: fixed;
    
}

nav li{
    list-style: none;
    display: inline-block;
    
    
}
nav li a{
    background-color: rgba(0, 0, 0, 0.361);
    padding: 10px;
    text-decoration: none;
    font-size:25px ;
    display: inline-block;
    color: white;
   

}
nav li a:hover{
    background-color: black;
}

section{
    width: 100vw;
    height: 500px;
    border: 1px solid black;
    padding-top: 50px;
    font-size:25px ;
    
   
}
section:nth-child(even){
    background-color: rgba(0, 0, 255, 0.541);
}